{% paginate blog.articles by settings.pagination_limit %}
<div id="blog">

  <div class="row">

    <div class="container">
      <div class="page_title">
        <h2><a href="/blogs/news">Our Blog</a></h2>
              <div>We tinker a lot with the tech toys and kits we carry in our online store (no, we do not blend them). 
                   We bring many of these toys and products into the classroom too. 
                   Read our thoughts, and our random musings on STEM, tech, coding and education.</div>
      </div>
        <div class="post_in_boxes clearfix">
      	

      {% for article in blog.articles %}
        <div class="post">
          <div class="post_in">
              {% if article.image %}
              <div class="post_img">
                <a href="{{ article.url }}">
                  <img src="{{ article.image | img_url: '400x' }}" alt="{{ article.title | escape }}" />
                </a>
              </div>
              {% endif %}
              
              <div class="post_text">
              <h2>{{ article.title | link_to: article.url }}</h2>
              {% assign article_has_image = false %}
              {% assign content = article.excerpt_or_content %}
              
    
              {% if article_has_image %}
                <p>{{ content | strip_html | truncatewords: 20 }}</p>
              {% else %}
                <p>{{ content | strip_html | truncatewords: 20 }}</p>
              {% endif %}
              
               <a href="{{ article.url }}">Read more</a>
              </div>
             
	 	  </div>
        </div>
      {% endfor %}


      </div>
    </div>
  </div>
</div>

{% include 'pagination' %}
{% endpaginate %}